* {
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
}

h1 {
    margin-top: 20%;
    text-align: center;
    color: tomato;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

.btn {
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 5px 10px;
    width: 100px;
    height: 30px;
    top: 50%;
    margin-top: 50px;
    width: fit-content;
    font-weight: bolder;
}

.btn:hover {
    color: white;
    background-color: black;
}